body {
  font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  background: url(../images/lines.svg) top center no-repeat;
  background-size: contain;
  color: #444;
}

p {
  font-size: 14px;
}

a {
  color: #663399;
  transition: all 300ms;
  text-decoration: none;
}

a:hover {
  color: #8f71b2;
  text-decoration: none;
}

hr {
  border-color: #a38bc1;
}

header {
  color: #663399;
}

.formcontainer {
  background: #fff;
}

.accent {
  font-weight: 700;
}

h1 {
  margin: 15px 0 0;
  font-size: 50px;
  text-align: center;
  font-weight: 400;
}

h1.logo {
  margin: 30px 0 40px 0;
}

h2 {
  font-size: 16px;
  text-align: center;
  line-height: 1.5em;
  font-weight: normal;
}

h2 a {
  color: #8f71b2;
}

h2 a:hover {
  color: #663399;
}

h3 {
  font-size: 20px;
  color: #663399;
  font-weight: 700;
}

.table-wrapper {
  background: #fff;
}

.listing {
  margin-top: 15px;
}

.about {
  background: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
}

.about p:last-child {
  margin-bottom: 0;
}

td, th {
  font-size: 13px !important;
}

th {
  font-size: 12px;
}

.navbar {
  min-height: 40px;
}

@media (min-width: 768px) {
  .navbar .container {
    width: auto;
  }
}

@media (min-width: 800px) {
  .navbar .container {
    margin-right: 0;
  }
}

@media (min-width: 1200px) {
  .navbar .container {
    width: 1170px;
  }
}

.navbar-brand {
  font-size: 12px;
  color: #fff !important;
  font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  padding: 10px 15px;
  height: 40px;
  width: 100%;
  width: 100%;
  float: right;
}

@media (min-width: 440px) {
  .navbar-brand {
    width: auto;
    float: left;
  }
}

.nav .fa {
  font-size: 16px;
}

.navbar-toggle {
  background: #8f71b2;
  margin: 10px 0 2px 0;
  right: 15px;
}

@media (min-width: 440px) {
  .navbar-toggle {
    margin-top: 3px;
  }
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background: #663399;
}

.navbar-default .navbar-toggle .icon-bar {
  background: #fff;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
  transition: all 300ms;
  padding: 10px 15px;
}

.navbar-default .navbar-nav > li > a.nav-icon {
  padding: 10px 0 10px 15px;
}

.navbar-default .navbar-nav > li:last-child a {
  padding-right: 15px;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #c3b3d8;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background: #a38bc1;
  color: #fff;
}

.navbar-default .navbar-collapse, .navbar-default {
  background-color: #663399;
  border: 0;
}

@media (max-width: 800px) {
  .navbar-header {
    float: none;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }

  .navbar-collapse.collapse {
    display: none !important;
  }

  .navbar-nav {
    float: none !important;
    margin: 7.5px -15px;
  }

  .navbar-nav > li {
    float: none;
  }

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.filter-table {
  font-size: 11px;
}

.filter-table .quick {
  margin-left: 1.4em;
  display: inline-block;
  font-size: 11px;
  padding: 4px 6px;
  margin-bottom: 6px;
  border: 1px solid #c3b3d8;
  border-radius: 3px;
  text-decoration: none;
 }

.filter-table .quick:hover {
  background: #a38bc1;
  border-color: #a38bc1;
  color: #fff;
}

.filter-table input {
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 3px;
  font-weight: normal;
  font-size: 11px;
}

.filter-table {
  padding: 11px 0;
  border-bottom: 1px solid #ddd;
}

table.table-striped tbody tr td.alt {
  background: #d5cbe4;
}
