    <footer>
      <div class="container">
        <p>Website by <a href="http://kcory.co/z2Zeuz" title="Katherine Cory" target="_blank">Katherine Cory</a></p>
      </div>
    </footer>

<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ site.baseurl }}/js/jquery.js"></script>
    <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
    <script src="{{ site.baseurl }}/js/jquery.sheetrock.min.js"></script>
    <script src="{{ site.baseurl }}/js/filterTable.min.js"></script>
    <script src="{{ site.baseurl }}/js/svgeezy.min.js"></script>
    <script src="{{ site.baseurl }}/js/main.js"></script>
