    <!-- Static navbar -->
    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Find web and creative <span class="accent">freelancers</span> in the East Midlands</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li{% if page.nav == 'list' %} class="active"{% endif %}><a href="/">Browse the list</a></li>
            <li{% if page.nav == 'submit' %} class="active"{% endif %}><a href="/submit/">Submit your details</a></li>
            <li{% if page.nav == 'about' %} class="active"{% endif %}><a href="/about/">About</a></li>
            <li><a href="http://kcory.co/1BX01pl"><i class="fa fa-github"></i></a>
            <li><a href="http://twitter.com/emfreelancers"><i class="fa fa-twitter"></i></a></li>
            <li><a href="mailto:hello@eastmidlandsfreelancers.com"><i class="fa fa-envelope-o"></i></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
